<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectonfc">

    <uses-feature android:name="android.hardware.nfc" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Required for Nearby Connections -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required for Nearby Connections -->

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Parte Firmas UPV"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StudentSignActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:parentActivityName=".logic.MainStudentActivity"/>
        <activity
            android:name=".logic.MainStudentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LinkCardNfcActivity"
            android:label="Vincular carnet"
            android:launchMode="singleTask"
            android:parentActivityName=".LinkCardQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AttendanceActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".CreacionParte"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportDataActivity"
            android:parentActivityName=".ShowReportsActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".ReportFilterActivity"
            android:label="Filtrar"
            android:parentActivityName=".ShowReportsActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".ShowReportsActivity"
            android:label="Consultar partes"
            android:launchMode="singleTask"
            android:parentActivityName=".clases.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".clases.RequirementsToLinkActivity"
            android:label="Vincular carnet"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LinkBiometricPromptActivity"
            android:label="Vincular carnet"
            android:launchMode="singleTask"
            android:parentActivityName=".LinkCardQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LinkCardQRActivity"
            android:label="Vincular carnet"
            android:launchMode="singleTask"
            android:parentActivityName=".clases.RequirementsToLinkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.AddComment"
            android:label="Observaciones"
            android:launchMode="singleTask"
            android:parentActivityName=".CreacionParte"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreacionParte"
            android:label="Datos del parte"
            android:launchMode="singleTask"
            android:parentActivityName=".clases.RegistroAlumnos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".util.CaptureActivityPortrait"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".clases.EditarGrupo"
            android:label="Editar Datos Grupo"
            android:launchMode="singleTask"
            android:parentActivityName=".clases.DatosGrupo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.DatosGrupo"
            android:label="Datos Grupo"
            android:launchMode="singleTask"
            android:parentActivityName=".clases.Grupos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.Grupos"
            android:label="Grupos Asignatura"
            android:launchMode="singleTask"
            android:parentActivityName=".clases.Asignaturas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.EnviarCorreo"
            android:label="Enviar Correo"
            android:parentActivityName=".clases.RegistroAlumnos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.RegistroAlumnos"
            android:label="Registro Alumnos"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.DatosAsignaturaNormal"
            android:label="Datos de la clase"
            android:launchMode="singleTask"
            android:parentActivityName=".clases.AsignaturasProfesor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.AsignaturasProfesor"
            android:label="Seleccionar asignatura"
            android:launchMode="singleTask"
            android:parentActivityName=".clases.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.NuevoAlumno"
            android:label="Nuevo Alumno"
            android:launchMode="singleTask"
            android:parentActivityName=".clases.Alumnos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.EditarAlumno"
            android:label="Editar Alumno"
            android:launchMode="singleTask"
            android:parentActivityName=".clases.DatosAlumno"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.DatosAlumno"
            android:label="Datos Alumno"
            android:launchMode="singleTask"
            android:parentActivityName=".clases.Alumnos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.Alumnos"
            android:label="Alumnos Asignatura"
            android:parentActivityName=".clases.Asignaturas"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.EditarAsignatura"
            android:label="Editar Asignatura"
            android:parentActivityName=".clases.DatosAsignatura"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.DatosAsignatura"
            android:label="Datos Asignatura"
            android:parentActivityName=".clases.Asignaturas"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.Asignaturas"
            android:label="Menú Asignaturas"
            android:parentActivityName=".clases.Configuracion"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.Configuracion"
            android:label="Asignaturas"
            android:launchMode="singleTask"
            android:parentActivityName=".clases.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clases.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>