<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectonfc">

    <uses-feature android:name="android.hardware.nfc" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Required for Nearby Connections -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Parte de firmas UPV"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gestures.CommandVoiceActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"/>
        <activity
            android:name=".presentation.teacher.management.subjects.EditGroupActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.management.subjects.DatosGrupo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.management.subjects.EditSubjectActivity"
            android:parentActivityName=".presentation.teacher.management.subjects.SubjectDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.management.subjects.SubjectDataActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.management.subjects.Configuracion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.management.ManagementActivity"
            android:label="Mis datos"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.student.ManageStudentDataActivity"
            android:label="Mis datos"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.student.MainStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.student.StudentSignActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.student.MainStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.student.MainStudentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".presentation.link.LinkCardNfcActivity"
            android:label="Vincular carnet"
            android:launchMode="singleTop"
            android:parentActivityName=".LinkCardQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.report.AttendanceActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.report.CreacionParte"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.management.consults.ReportDataActivity"
            android:parentActivityName=".presentation.teacher.management.consults.ShowReportsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.management.consults.ReportFilterActivity"
            android:label="Filtrar"
            android:parentActivityName=".presentation.teacher.management.consults.ShowReportsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".presentation.teacher.management.consults.ShowReportsActivity"
            android:label="Consultar partes"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.management.ManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.link.RequirementsToLinkActivity"
            android:label="Vincular carnet"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.link.LinkBiometricPromptActivity"
            android:label="Vincular carnet"
            android:launchMode="singleTop"
            android:parentActivityName=".LinkCardQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LinkCardQRActivity"
            android:label="Vincular carnet"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.link.RequirementsToLinkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.report.AddComment"
            android:label="Observaciones"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.report.CreacionParte"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.report.CreacionParte"
            android:label="Datos del parte"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.report.RegistroAlumnos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.CaptureActivityPortrait"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".presentation.teacher.management.subjects.DatosGrupo"
            android:label="Datos Grupo"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.management.subjects.Grupos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.management.subjects.Grupos"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.management.subjects.SubjectDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.report.RegistroAlumnos"
            android:label="Registro Alumnos"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".presentation.teacher.report.AsignaturasProfesor"/>
        <activity
            android:name=".presentation.teacher.report.DatosAsignaturaNormal"
            android:label="Datos de la clase"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.report.AsignaturasProfesor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.report.AsignaturasProfesor"
            android:label="Seleccionar asignatura"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.management.subjects.NuevoAlumno"
            android:label="Nuevo Alumno"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.management.subjects.Alumnos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.management.subjects.EditarAlumno"
            android:label="Editar Alumno"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.management.subjects.DatosAlumno"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.management.subjects.DatosAlumno"
            android:label="Datos Alumno"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.management.subjects.Alumnos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.management.subjects.Alumnos"
            android:label="Alumnos Asignatura"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.management.subjects.SubjectDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.teacher.management.subjects.Configuracion"
            android:label="Asignaturas"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.teacher.management.ManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".presentation.SplashScreenActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>